<div class="container">

  <div class="card" style="width: 24rem;">
    <div class="card-body">
      <h4 class="card-title">Measures in Real Time</h4>

      <x-chartist [data]="graphData" [type]="type">
    </x-chartist>

      <div class="form-group">
        <select class="form-control" (change)="onDateRangeFilterChanged($event)">
          <option>By Day</option>
          <option>Last Month</option>
          <option>Custom Range</option>
        </select>
      </div>
    </div>
  </div>

</div>
